/* ============================================================================
	Vars
============================================================================ */
$font-family: roboto, Helvetica, Arial, sans-serif;
$primary-color: #FF4057;
$primary-color-hover: rgb(214, 56, 74);
$secondary-color:#334E64;
$secondary-color-hover:#253b4d;
$grid-width:1200px;
$shadow:0 4px 10px rgba($primary-color, 0.1);
$shadow-hover:0 4px 20px rgba($primary-color, 0.4);
$border-radius:6px;
$form-vertical-label-padding:0 0 6px;
$layout-body-background:#121D26;
$input-height:40px;