@import "vars";

* {
  margin: 0px;
  padding: 0px;
}

#root,
body,
html {
  height: 100%;
}

.ant-btn-primary {
  background-color: $primary-color;

  &:hover {
    background-color: $primary-color-hover !important;
    border-color: $primary-color-hover;
  }
}

.ant-btn-secondary {
  background-color: none;
  color: $secondary-color;
  border: $secondary-color 2px solid;
  font-weight: bold;

  &:hover {
    color: $secondary-color-hover;
    border: $secondary-color-hover 2px solid;
  }
}

@import "./components/header.scss";
