.header {
  background-color: $layout-body-background;
  max-height: 112px;
  min-height: 90px;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;

  padding: 0px 80px;

  ul.options {
    list-style: none;
    display: flex;
    gap: 30px;
    cursor: pointer;

    li.option {
      font-weight: bold;
      color: white;
      font-size: 16px;
        height: 100%;
      &:hover {
        color: $primary-color;
        transition: all 0.2s;
      }
    }
  }
}
